name: Publish to WinGet
on:
  release:
    types: [released]
jobs:
  publish:
    runs-on: windows-latest # action can only be run on windows
    steps:
      - uses: vedantmgoyal2009/winget-releaser@latest
        with:
          identifier: vim.vim
          installers-regex: 'gvim.*(x64|x86).exe$'
          token: ${{ secrets.WINGET_TOKEN }}
